*{
  padding:0;
  margin:0;
}

header{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.top-header{
  width:100%;
  height:35px;
  background:red;

}
.bottom-header{
  height:0;
  background:green;
  border-left:solid 30px transparent;
  border-right:solid 30px transparent;
  border-top:solid 50px green;
  
}
